body {
    background-color: bisque;
    font-family: "Comic Sans MS";
}

.gui{
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button__start{
    width: 100px;
    height: 100px;
    background: url('../images/score_bg.png');
    background-size: contain;    
    cursor: pointer;
    border: none;
}

.label__score {
    color: white;
    font-size: 2rem;
    width: 100%;
    text-align: center;
}

.label__result {
    text-align: center;
    font-size: 5rem;
}

.game {
    width: 600px;
    height: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 5px;
    margin: 0 auto;
}

.game__element {
    position: relative;
}

.game__ninja {
    position: absolute;
    top: 0px;
    left:0px;
    width: 100%;
    height: 100%;
    object-fit: contain;
    user-select: none;
}

.game__floor {
    width: 100%;
    height: 30px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    user-select: none;
}